# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Packaging / builds
build/
dist/
*.egg-info/

# Editors / IDEs
.vscode/
.idea/

# Logs and misc
*.log
.env
*.sqlite

# Node / frontend
node_modules/
pnpm-lock.yaml
package-lock.json

# Large Models
*.gguf
sentiment_distilroberta/
llama.cpp/

# Datasets
*.csv
